@model SearchVM
@{
    ViewBag.Title = "Search";
}

@{
    var opt = new AjaxOptions();
    opt.OnSuccess = "UpdateResult";
}
@using (Ajax.BeginForm("Search", "Home", opt, new { @class = "form-inline" } ))
{
    <div class="row">
        <div class="col-md-3 col-sm-6">@Html.TextBoxFor(x => x.CityFrom, new { @class = "form-control", placeholder = "откуда" })</div>
        <div class="col-md-3 col-sm-6">@Html.TextBoxFor(x => x.CityTo, new { @class = "form-control", placeholder = "куда" })</div>
        <div class="col-md-3 col-sm-6">@Html.TextBoxFor(x => x.Date, new { @class = "form-control", placeholder = "когда?", type = "date", @Value = Model.Date.ToString("yyyy-MM-dd") })</div>
        <div class="col-md-3 col-sm-6">@Html.TextBoxFor(x => x.DateBack, new { @class = "form-control", placeholder = "когда обратно?", type = "date", @Value = Model.DateBack.ToString("yyyy-MM-dd") })</div>
    </div>
    <br />
    <div class="text-center"><input type="submit" value="Поиск" class="btn btn-primary" /></div>
}

<br />

<div id="status"></div>
<div id="result"></div>

<script type="text/javascript">
    function UpdateResult(response) {
        var result = $("#result");
        var status = $("#status");
        result.empty();
        status.empty();

        if (response.IsSearching) {
            status.append("Идет поиск. ");
            setTimeout(GetStatus, 500);
        }
        if (response.Message) {
            status.append(response.Message);
        }
        if (response.Result) {
            var data = response.Result;
            var s = [];
            s.push("<div>Цена: " + data.Price + "</div>");
            s.push("<div>Авиакомпания: " + data.Airline + "</div>");
            s.push("<div>Отправление: " + data.Date + "</div>");
            s.push("<div>Обратно: " + data.DateBack + "</div>");
            s.push("<div><a href=" + data.Url + " target='_blank'>Постмотреть страницу</a></div>");
            result.append(s.join(""));
        }
    }
    function GetStatus() {
        var url = "@Url.Action("GetStatusSearch", "Home")";
        $.ajax({ type: "POST", url: url,
            success: function (response) {
                UpdateResult(response)
            }
        });
    }
</script>